.about {
    width: 100%;
    height: 850px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.about__part {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about__blocks {
    display: grid;
    grid-template-columns: 555px 555px;
    grid-column-gap: 30px;
    margin-top: 75px;
}

.about__block {
    display: flex;
    flex-direction: column;
}

.about__block_lorem {
    color: #555555;
}

.about__block_photos {
    display: grid;
    grid-template-columns: 262px 262px;
    grid-column-gap: 30px;
    margin-top: 75px;
}

.about__block_photo {
    display: flex;
    flex-direction: column;
}

.about__block_photo-only-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.khalil {
    background-image: url('../assets/img/icons/khalil.png');
}

.rubel {
    background-image: url('../assets/img/icons/rubel.png');
}

.shamim {
    background-image: url('../assets/img/icons/shamim.png');
}

.john {
    background-image: url('../assets/img/icons/john.png');
}

.about__block_img {
    width: 262px;
    height: 250px;
}

.about__block_photo-black-theme {
    position: absolute;
    width: 262px;
    height: 250px;
}

.about__block_photo:hover .about__block_photo-black-theme {
    background-color: rgba(75, 75, 75, 0.562);
}

.about__block_hover-icons {
    position: absolute;
    margin-top: 180px;
    display: none;
}

.about__block_photo:hover .about__block_hover-icons {
    display: flex;
    align-items: center;
}

.about__block_icon {
    margin-right: 14px;
    .about__block_icon :last-child {
        margin-right: 0px;
    }
}

.about__block_icon:hover {
    background-color: #c0301c;
}

.about__block_photo-name {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #555555;
}

.about__block_photo-position {
    margin-top: 15px;
    text-align: center;
    color: #555555;
}

@media screen and (max-width:800px) {
    .about {
        height: 1100px;
    }
    .about__part {
        width: 100%;
    }
    .about__blocks {
        grid-template-rows: 400px 400px;
        grid-template-columns: none;
        grid-column-gap: none;
        grid-row-gap: 50px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .about__block_photos {
        grid-template-columns: 155px 155px;
        grid-column-gap: 10px;
        margin-top: 30px;
    }
    .about__block_img {
        width: 155px;
        height: 150px;
    }
    .about__block_photo-black-theme {
        width: 155px;
        height: 150px;
    }
}