.clients {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.clients__part {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clients__orgs {
    display: flex;
    align-items: center;
}

.clients__org {
    margin-right: 50px;
    .clients__org:last-child {
        margin-right: 0;
    }
}

.clients__lorem {
    margin-top: 70px;
    text-align: center;
    color: #555555;
}

.clients__doe {
    margin-top: 40px;
    text-align: center;
    color: #555555;
}

.clients__dots {
    display: flex;
    margin-top: 40px;
}

.clients__dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #dddddd;
    margin-right: 15px;
    .clients__dot:last-child {
        margin-right: 0;
    }
}

.clients__dot:hover {
    background-color: #c0301c;
}

@media screen and (max-width:800px) {
    .clients {
        height: 650px;
    }
    .clients__part {
        width: 100%;
    }
    .clients__orgs {
        justify-content: center;
        flex-direction: column;
    }
    .clients__org {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .clients__lorem {
        margin-top: 40px;
    }
}