.like {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    background-color: #c0301c;
}

.like__part {
    width: 1600px;
    background-image: url(../assets/img/icons/do-you-like-background.png);
}

.like__theme {
    background-color: rgba(134, 0, 0, 0.555);
    width: 1600px;
    height: 370px;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.like__text {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.like__do-you {
    margin-top: 100px;
}

.like__button-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.like__button {
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    width: 190px;
    height: 50px;
    border-radius: 10px;
}

.like__button:hover {
    color: #c0301c;
    background-color: white;
}

.like__button:active {
    background-color: rgb(226, 226, 226);
}

@media screen and (max-width:800px) {
    .like__part {
        width: 100%;
    }
    .like__theme {
        width: 100%;
    }
}