.footer {
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
    background-color: #c0301c;
}

.footer__part {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__birds {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bird {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
    .footer__bird:last-child {
        margin-right: 0;
    }
}

.footer__line {
    border-bottom: 2px solid white;
    width: 50px;
    margin-top: 30px;
}

.footer__startap {
    margin-top: 30px;
}

@media screen and (max-width:800px) {
    .footer__part {
        width: 100%;
    }
    .footer {
        height: 200px;
    }
}