.get {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 660px;
}

.get__part {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get__contacts-form {
    display: grid;
    grid-template-columns: 395px 730px;
    margin-top: 70px;
}

.get__contacts {
    display: grid;
    grid-template-rows: 65px 65px 65px;
    grid-row-gap: 35px;
}

.get__contact {
    display: grid;
    grid-template-columns: 15px 365px;
    grid-column-gap: 15px;
}

.get__contact_title-text {
    color: #555555;
}

.get__contact_title {
    font-weight: bold;
}

.get__contact_text {
    margin-top: 15px;
}

.get__form {
    display: grid;
    grid-template-rows: 45px 45px 105px 45px;
    grid-row-gap: 22px;
}

.get__form_short-input {
    border: 1px solid black;
    width: 350px;
    height: 45px;
}

.get__form_short-input:last-child {
    margin-left: 20px;
}

.get__form_long-input {
    border: 1px solid black;
    width: 730px;
    height: 105px;
}

input:active,
input:focus {
    border-color: #c0301c;
}

.get__form_button-ps {
    display: flex;
    align-items: center;
}

.get__form_button {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    height: 45px;
    width: 175px;
    color: #555555;
}

.get__form_button:hover {
    border-color: #c0301c;
    background-color: #c0301c;
    color: white;
}

.get__form_ps {
    color: black;
    margin-left: 35px;
}

@media screen and (max-width:800px) {
    .get {
        height: 1100px;
    }
    .get__part {
        width: 100%;
    }
    .get__contacts-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-template-columns: none;
        grid-column-gap: none;
        width: 100%;
    }
    .get__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-rows: none;
        grid-row-gap: none;
        margin-top: 30px;
    }
    .get__form_short-input {
        border: 1px solid black;
        width: 300px;
        height: 45px;
    }
    .get__form_long-input {
        border: 1px solid black;
        width: 300px;
        height: 90px;
    }
    .get__form_short {
        display: flex;
        flex-direction: column;
    }
    .get__contacts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .get__contact {
        display: flex;
        grid-template-columns: none;
        grid-column-gap: none;
        width: 242px;
    }
    .get__contact_img {
        width: 12px;
        height: 12px;
    }
    .get__form_short-input:last-child {
        margin-left: 0;
        margin-top: 10px;
    }
    .get__form_ps {
        margin-top: 10px;
        margin-left: 0;
    }
    .get__form_button-ps {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}