.latest {
    height: 1220px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.latest__part {
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latest__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest__nav_type {
    color: #555555;
    margin-right: 30px;
    margin-top: 30px;
    .latest__nav-type:last-child {
        margin-right: 0;
    }
}

.latest__nav_type:hover {
    color: #c0301c;
}

.latest__works {
    display: grid;
    grid-template-columns: 365px 365px 365px;
    grid-column-gap: 30px;
    grid-template-rows: 320px 320px 320px;
    grid-row-gap: 30px;
    margin-top: 70px;
    padding-bottom: 100px;
}

.latest__work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hair {
    background-image: url(../assets/img/icons/hair.png);
}

.bird {
    background-image: url(../assets/img/icons/bird.png);
}

.tech {
    background-image: url(../assets/img/icons/tech.png);
}

.photo {
    background-image: url(../assets/img/icons/photo.png);
}

.bike {
    background-image: url(../assets/img/icons/bike.png);
}

.book {
    background-image: url(../assets/img/icons/book.png);
}

.glasses {
    background-image: url(../assets/img/icons/glasses.png);
}

.clips {
    background-image: url(../assets/img/icons/clips.png);
}

.events {
    background-image: url(../assets/img/icons/events.png);
}

.latest__work_pic {
    width: 365px;
    height: 320px;
}

.latest__work:hover .latest__work_hover-theme {
    width: 365px;
    height: 320px;
    position: absolute;
    background-color: rgba(134, 0, 0, 0.555);
}

.latest__work_hover-text {
    color: rgba(255, 0, 0, 0);
    position: absolute;
}

.latest__work:hover .latest__work_hover-text {
    color: white;
}

.latest__work_hover-button {
    position: absolute;
    width: 100px;
    height: 40px;
    display: none;
}

.latest__work:hover .latest__work_hover-button {
    background-color: white;
    color: #c0301c;
    display: inline;
}

@media screen and (max-width:800px) {
    .latest {
        height: 2750px;
    }
    .latest__part {
        width: 100%;
    }
    .latest__works {
        grid-template-columns: none;
        grid-column-gap: none;
        grid-template-rows: repeat(9, 270px);
        grid-row-gap: 20px;
        margin-top: 20px;
    }
    .latest__work_pic {
        width: 300px;
        height: 270px;
    }
    .latest__nav_type {
        color: #555555;
        margin-right: 10px;
        margin-top: 30px;
        .latest__nav-type:last-child {
            margin-right: 0;
        }
    }
}