    .recent {
        width: 100%;
        height: 1080px;
        display: flex;
        justify-content: center;
    }
    
    .recent__part {
        width: 1600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .recent__posts {
        display: grid;
        grid-template-rows: 325px 1px 325px;
        grid-row-gap: 40px;
        margin-top: 70px;
    }
    
    .recent__post {
        display: grid;
        grid-template-columns: 460px 650px;
        grid-column-gap: 30px;
    }
    
    .recent__post_image {
        width: 460px;
        height: 340px;
    }
    
    .recent__post_text {
        color: #555555;
    }
    
    .recent__post_date-title {
        display: flex;
        align-items: center;
    }
    
    .recent__post_date {
        text-align: center;
        font-weight: bold;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid #3f3f3f;
        width: 70px;
        height: 70px;
        line-height: 15px;
    }
    
    .recent__post_title-khalil {
        margin-left: 30px;
    }
    
    .recent__post_title {
        font-weight: bold;
    }
    
    .recent__post_by-khalil {
        margin-top: 20px;
    }
    
    .recent__post_lorem {
        margin-top: 25px;
    }
    
    .recent__post_more {
        margin-top: 60px;
    }
    
    .recent__post:hover .recent__hov {
        color: #c0301c;
    }
    
    @media screen and (max-width:800px) {
        .recent {
            height: 1550px;
        }
        .recent__part {
            width: 100%;
        }
        .recent__posts {
            display: grid;
            grid-template-rows: 650px 650px;
            grid-row-gap: 50px;
            margin-top: 30px;
        }
        .recent__post {
            grid-template-columns: none;
            grid-column-gap: none;
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            justify-content: center;
            align-items: center;
        }
        .recent__post_image {
            width: 300px;
            height: 240px;
            margin-bottom: 10px;
        }
        .recent__post_text {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 50px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }