.services {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 580px;
}

.services__part {
    width: 1600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services__types {
    display: grid;
    display: flex;
    grid-template-columns: 350px;
    grid-column-gap: 30px;
    margin-top: 70px;
}

.services__type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services__type_ellipse {
    width: 70px;
    height: 70px;
    border: 2px solid #a0a0a0;
    border-radius: 70px;
}

.services__type_img:hover .services__type_ellipse {
    border-color: #c0301c;
}

.services__type_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__type_typography {
    font-size: 50px;
    font-weight: bold;
    color: #c0301c;
}

.services__type_img-icon {
    position: absolute;
}

.services__type_title {
    color: #555555;
    text-align: center;
    margin-top: 30px;
}

.services__type_lorem {
    color: #555555;
    text-align: center;
    margin-top: 25px;
    line-height: 20px;
}

@media screen and (max-width:800px) {
    .services__part {
        width: 100%;
    }
    .services {
        height: 1000px;
    }
    .services__types {
        display: grid;
        grid-template-rows: 250px;
        grid-row-gap: 20px;
        margin-top: 30px;
    }
}