* {
    margin: 0;
}

@for $i from 11 to 56 {
    .fontX#{$i} {
        font-size: $i + px;
    }
}

.red-color {
    color: #c0301c;
}

.dark-grey-color {
    color: #555555;
}

.grey-color {
    color: #a0a0a0;
}

a,
a:active,
a:focus {
    // outline: none !important;
    // border: none !important;
    text-decoration: none;
}

input,
input:active,
input:focus {
    outline: none;
    // border: none;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
}

.grey-line {
    border-bottom: 2px solid #555555;
    width: 50px;
    margin-top: 30px;
}

.title {
    color: #555555;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}

.subtitle {
    color: #555555;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.absolute {
    position: absolute;
}