.welcome {
    height: 770px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #c0301c;
}

.welcome__part {
    width: 1600px;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/img/backgrounds/welcome-background.png');
}

.welcome__theme {
    width: 100%;
    height: 770px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    align-items: center;
}

.welcome__hat {
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 40px;
    height: 60px;
}

.welcome__hat_startap {
    color: white;
    font-weight: bold;
}

.welcome__hat_nav {
    display: flex;
}

.welcome__hat_nav-type {
    margin-right: 30px;
    color: white;
    border-radius: 3px;
    .welcome__hat_nav-type :last-child {
        margin-right: 0;
    }
}

.welcome__title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 260px;
}

.welcome__subtitle {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.welcome__button_center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.welcome__button {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    height: 47px;
    width: 175px;
    border-radius: 10px;
    color: white;
}

.welcome__button:hover {
    color: #c0301c;
    background-color: white;
}

.welcome__button:active {
    background-color: rgb(226, 226, 226);
}

@media screen and (max-width:800px) {
    .welcome__part {
        width: 100%;
    }
    .welcome__hat_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 15px;
    }
    .welcome__hat_nav-type {
        margin-right: 0px;
        margin-bottom: 5px;
        .welcome__hat_nav-type {
            margin-bottom: 0;
        }
    }
    .welcome__hat {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        height: 180px;
    }
    .welcome__title {
        margin-top: 150px;
    }
    .welcome__subtitle {
        margin-top: 20px;
    }
}